:root{
    --primario: #5ab2da;
    --primarioOscuro: #4da8cf;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --begro: #000;

    --mainfont: 'Staatliches', sans-serif;


}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}
/*Globales*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*Espacio entre lineas*/
}
p{
    font-size: 1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    max-width: 120rem;
    margin: 0 2rem;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--mainfont)
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;

}

/*Footer*/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    color: var(--blanco);
    font-family: var(--mainfont);
    font-size: 2.2rem;
    text-align: center;
    font-size: 2rem;
}
/*Navegation*/
.navegation{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /*Agrega un espacio entre elementos (forma nueva)*/
}
.navegation__link{
    font-family: var(--mainfont);
    color: var(--blanco);
    font-size: 3rem;
}

.navegation__link--active,
.navegation__link:hover{
    color: var(--secundario); /*Hace que el color cambie al colocar el puntoro o mouse sobre el elemento*/
}

/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Crea 2 columnas de igual tamaño*/
    gap: 2rem; /*Agrega un espacio entre elementos*/
    /*column-gap: 2rem; Agrega un espacio entre columnas*/
    /*row-gap: 2rem; Agrega un espacio entre filas*/
    margin: 0 2rem;
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr); /*Crea 3 columnas de igual tamaño*/   
    }
     
}

/*Products*/
.product{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.product__name{
    font-size: 4rem;
}
.product__img{
    width: 100%;
}
.product__price{
    font-size: 2.8rem;
    color: var(--secundario);
}
.product__name, .product__price{
    font-family: var(--mainfont);
    margin:1rem 0;
    text-align: center;
    line-height: 1.2;
}

/*Graficos*/
.graphic{
    min-height: 30rem; /*Altura minima de los elementos graficos*/
    background-repeat: no-repeat; /*Evita que se repita la imagen*/
    background-size: cover; /*Ajusta la imagen al tamaño del elemento para que la imagen cubra todo el espacio (30rem)*/
    grid-column: 1/3;
}
.graphic--shirts{
    grid-row: 2/3;
    /*Esto posiciona los elementos en el grid*/
    background-image: url(../img/grafico1.jpg);

}
.graphic--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}
@media (min-width: 768px){
    .graphic--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}
.us{
    display: grid;
    grid-template-rows: repeat(2, auto); /*Crea 2 filas de igual tamaño*/
    /*Al colocar el "auto" el tamaño se  determina automaticamente dependiendo de los px*/
}


/*Page About Us*/
@media (min-width: 768px){
    .us{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem; /*Agrega un espacio entre columnas*/
    } 
}
.us__image{
    grid-row: 1/2; /*Posiciona los elementos en una fila de nuestro grid*/

}
@media (min-width: 768px){
    .us__image{
        grid-column: 2/3;
    } 
    /*Hace que cuando sea como minimo 768px en adelante la posición de la imagen cambie.*/
}

/*Blocks*/
.blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .blocks{
        grid-template-columns: repeat(4, 1fr);
    } 
     
}
.block{
    text-align: center;
}
.block__title{
    margin: 0;
}


/*Page Product*/
.shirt{
    padding: 2rem;
}
@media (min-width: 768px){
    .shirt{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }    
}
.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.field__form{
    border: 1rem solid var(--primarioOscuro);
    /*Esto hace que el form tenga un borde, el cual su tamaño
     sea de 1rem, que sea solido y por ultimo que el color sea el var(--primarioOscuro*/
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    min-width: 50%; /*Esto hace que el tamaño minimo del elemento sea de 50%*/
    
}
.submit__form{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--mainfont);
    padding: 2rem;
    transition: bakground-color .3s ease; /*Hace que al hacer el cambio de color 
    con el hover, vea una transición, del background-color de 0.3 segundos.*/
    grid-column: 1/3;
}
.submit__form:hover{
    background-color: var(--secundarioOscuro);
    cursor: pointer;
}